.main {
  text-align: center;
}

.container {

}

.h1 {
  position: relative;
  margin-right: 7%;
}

.line_under_header {
  border: 1px solid #ccc;
}

.header {
  text-align: center;
  align-items: center;
  display: flex;
}

.App-logo {
  height: 50px;
  width: 50px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
}

.form1 {
  justify-content: center;
  display: flex;
}

.label1 {
  text-align: center;
  width: 100%;
  position: relative;
}

.span1 {
  /*position: absolute;*/
  top: -58px;
  left: 50%;
  transform: translateX(-50%);
}

.input1 {
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: medium;
}

.season-button {
  background-color: #fff;
  border: none;
  color: #000;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.selected {
  background-color: lightblue;
}
/*.season-button:hover {
  background-color: #e6e6e6;
}*/


